body{
  overflow:hidden;
}

.App {
  text-align: center;
}

.title{
  font-size: 25px;
  margin-top: 5%;  
  margin-bottom: 0;
}

.streak{
  margin-top: 0.2%;
  margin-bottom: 2%;
}

.App-header {
  cursor:default;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.fail{
  color: #e84135;
  font-size: 20px;
  font-weight: bold;
}


.success{
  color: #1f8504;
  font-size: 20px;
  font-weight: bold;
}

.indicatorMobile{
  margin-top: 80%;
}


.wrapper {
  display:flex;
  justify-content: center;
  height: 150px;
}

.wrapperPause{
  margin-top: 10%;
  margin-bottom: auto;
  justify-content: center;
  height: 150px;
}

.horz{
  flex-direction:row;
  font-size: 1.2vmax;
}

.mobile{
  display: block;
  font-size: 2vmax;
}

.mobile h1{
  margin-top: 10px;
  margin-bottom: 10px;
}

h1{
  width: fit-content;
  display:inline-block; 
}

.center{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.center h1{
  cursor:pointer;
  transition: transform .2s;
}

.centerאבו h1:hover{
  transform: scale(1.2);
}

.left{
  position:absolute;
  left: 0;
  width: 33%;
  z-index: 1;
}

.left h1{
  cursor:pointer;
  transition: transform .2s;
}

.left h1:hover{
  transform: scale(1.2);
}

.right{
  position:absolute;
  right: 0;
  width: 33%;
  z-index: 1;
}


.right h1{
  cursor:pointer;
  transition: transform .2s;
}

.right h1:hover{
  transform: scale(1.2);
}

.middle{
  position:absolute;
  width: 33%;
  z-index: 1;
}


.middle h1{
  cursor:pointer;
  transition: transform .2s;
}

.middle h1:hover{
  transform: scale(1.2);
}

.top {
  justify-content: center;
}

.middleVert {
  justify-content: center;
}

.bottom {
  justify-content: center;
}

.infoMobile{
  margin-top:10%;
  padding: 5px 5px 5px 5px;
}


.settingsImage{
  position: absolute;
  height: 25px;
  right: 0;
  padding: 17px  17px  17px  17px ;
}

.closeImage{
  position: absolute;
  height: 25px;
  left: 0;
  padding: 17px  17px  17px  17px ;
}


.footer{
  position:absolute;
  bottom: 0;
  padding: 2px 15px;
  font-size: 10px;
  left: 0;
}

.footer p{
  text-align: left;
}

.settingsDiv{
  padding: 5px 25px 25px 25px;
  background-color: #3D434F;
  height: 100%;
}

.smallText{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
}

.menuTitle{
  margin-top: 15vmax;
}

.MuiButton-root.startButton{
  padding: 10px 10px 10px 10px;
  color: white;
  border: 1px #3D434F solid;
  background-color: #3D434F;
  transition: transform .2s;
}

.MuiButton-root.startButton:hover{
  transform: scale(1.1);
  color: white;
  border: 1px #3D434F solid;
  background-color: #3D434F
}

.controller{
  margin-top: 10px;
}