body{
  overflow:hidden;
}

.App {
  text-align: center;
}

.title{
  margin-top: 5%;  
  margin-bottom: 0;
}

.streak{
  margin-top: 0.2%;
  margin-bottom: 5%;
}

.App-header {
  cursor:default;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.wrapper {
  display:flex;
  justify-content: center;
  flex-direction:row;
  height: 150px;
}

h1{
  width: fit-content;
  display:inline-block; 
}

.center{
  display: flex;
  flex-direction: column;
}

.center h1{
  cursor:pointer;
  transition: transform .2s;
}

.centerאבו h1:hover{
  transform: scale(1.2);
}

.left{
  position:absolute;
  left: 0;
  width: 33%;
  z-index: 1;
}

.left h1{
  cursor:pointer;
  transition: transform .2s;
}

.left h1:hover{
  transform: scale(1.2);
}

.right{
  position:absolute;
  right: 0;
  width: 33%;
  z-index: 1;
}


.right h1{
  cursor:pointer;
  transition: transform .2s;
}

.right h1:hover{
  transform: scale(1.2);
}

.middle{
  position:absolute;
  width: 33%;
  z-index: 1;
}


.middle h1{
  cursor:pointer;
  transition: transform .2s;
}

.middle h1:hover{
  transform: scale(1.2);
}